.container {
  padding-bottom: 25px;
}

.library-album-section {
  padding-bottom: 1rem;
}

.library-album-info {
  text-align: center;
  font-size: 1rem;
  color: rgb(228, 80, 106);
}

a:hover.library-album-info {
  text-decoration: none;
  color: rgb(46, 19, 46);
}

.img-responsive {
  margin: 0 auto;
}

.library-album-artist {
  font-size: 1.25rem;
  padding-top: .5rem;
}

@media (min-width: 767px) {
  .container {
    display: flex;
    justify-content: center;
  }
}